@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
* {
    margin: 0px;
    padding: 0px;
}
#main-header {
    background-color: #2D3945;
    height: 100px;
    color:white;
    line-height: 100px;
    text-align: center;
    font-size:150%;

}
#form-info {
    text-align: center;
    margin-top: 30px;
    font-size:150%;
    font-family: 'Slabo 27px', serif;
}
#main-info-paragraph {
    color: rgb(160, 160, 160);
    font-size: 125%;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    margin-top: 10px;
    font-family: 'Slabo 27px', serif;
}
@-webkit-keyframes GradientAnimation {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@-moz-keyframes GradientAnimation {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@keyframes GradientAnimation { 
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
hr {
    /* background: linear-gradient(to right, blue,rgb(0, 191, 255),green, #235dff); */
    height: 10px;
    margin-top: 30px;
    background: linear-gradient(272deg, #00ffbd, #0400ff, #641cff, #26ff00, #009cff);
background-size: 1000% 1000%;
margin-right: 10px;
margin-left: 10px;
-webkit-animation: GradientAnimation 60s ease infinite;
-moz-animation: GradientAnimation 60s ease infinite;
-o-animation: GradientAnimation 16s ease infinite;
animation: GradientAnimation 60s ease infinite;
border: none;
}
::-webkit-input-placeholder {
    text-align: right;
    padding-right: 20px;
    font-size: 16px;
    font-style: italic;
    color: #888888;
    font-family: Arial, Helvetica, sans-serif;
 }
 :-moz-placeholder { /* Firefox 18- */
    text-align: right;
    padding-right: 20px;
    font-size: 16px;
    font-style: italic;
    color: #888888;
    font-family: Arial, Helvetica, sans-serif;
 }
 ::-moz-placeholder {  /* Firefox 19+ */
    text-align: right;
    padding-right: 20px;
    font-size:16px;
    font-style: italic;
    color: #888888;
    font-family: Arial, Helvetica, sans-serif;
 }
 :-ms-input-placeholder {  
    text-align: right;
    padding-right: 20px;
    font-size: 16px;
    font-style: italic;
    color: #888888;
    font-family: Arial, Helvetica, sans-serif;
 }
input[type="email"], input[type="text"], input[type="tel"], input[type="number"]{
    width: 90%;
    height: 50px;
    border: none;
    border-radius: 6px;
    background-color: rgb(197, 197, 197);
margin-left: 5%;
margin-right: 5%;
margin-top: 20px;
margin-bottom: 15px;
font-size: 25px;
padding-left: 15px;
outline: none;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input:focus {
    vertical-align: top;
    border: none;
    background: linear-gradient(to right, #6d00fc, #00f2ff, #085dfa, #00ffb3, #79c975)
        160%
        0
        repeat-x,
      linear-gradient(to top, #6d00fc, #00f2ff, #085dfa, #00ffb3, #79c975)
        100%
        20%
        repeat-y,
      linear-gradient(to left, #6d00fc, #00f2ff, #085dfa, #00ffb3, #79c975)
        10%
        100%
        repeat-x,
      linear-gradient(to bottom,  #6d00fc, #00f2ff, #085dfa, #00ffb3, #79c975)
        0%
        10%
        repeat-y;
    background-size: 300% 5px, 5px 300%;
    animation: bd 20s infinite linear;
  }
  @keyframes bd {
    50% {
      background-position: 460% 0, 100% 320%, 310% 100%, 0% 310%;/* average reset of bg-position , tune it to desired effect */
    }
  }
fieldset {
    border:none;
    margin-top: 30px;
}
label {
    margin-left: 5%;
    margin-bottom: 25px;
    font-size: 120%;
}
legend {
    font-size: 200%;
    margin-left: 5%;
margin-bottom: 30px;
}

.smallHr {
    height: 5px;
    margin-top: 15px;
}
#newsPaperTitle, #newsLetterFormat {
    font-size: 175%;
    display: inline-block;
margin-right: 5%;
margin-left: 5%;
margin-top: 30px;
}

.form label {
    margin-left: 0;
}

.form input[type="radio"] {
    border-radius: 0;
}